<app-navbar>
  <h1>Milo Ginn</h1>
  <div>
    Cincinnati, OH 45221 · (513) 555-8468 ·
    <a href="mailto:ginnms&#64;mail.uc.edu">ginnms&#64;mail.uc.edu</a>
  </div>
  <img src="headshot.jpg">
  <h2>Education</h2>
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>University of Cincinnati</mat-card-title>
      <mat-card-subtitle>Bachelor of Science, Computer Science · August 2020 - May 2026</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Coursework</p>
      <ul>
        <li>Public Speaking</li>
        <li>Discrete Structures</li>
        <li>Database Design</li>
        <li>Algorithm Design and Analysis</li>
        <li>Operating Systems</li>
        <li>Computer Networking</li>
        <li>AI Applications</li>
        <li>Web Application Programming and Hacking</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <h2>Experience</h2>
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>Computer Science Co-op</mat-card-title>
      <mat-card-subtitle>Crown Equipment Corporation · May 2024 - August 2024</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Analyzed CAN data to test vehicle systems</li>
        <li>Developed internal VBA scripts to streamline the CAN analysis process</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>Computer Science Co-op</mat-card-title>
      <mat-card-subtitle>Crown Equipment Corporation · September 2023 - December 2023</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Contributed to two new features and several bugfixes for lift truck displays</li>
        <li>Primarily working in C# on a Xamarin Android application, along with C code for embedded systems</li>
        <li>Emphasized communication, issue tracking, writing and reviewing pull requests, and code style guidelines</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>Software Development Intern</mat-card-title>
      <mat-card-subtitle>Fidelity Information Services · August 2021 - August 2022</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Participated in six project cycles, developing and giving presentations on proof-of-concept software</li>
        <li>Designed and implementated primarily webpages and APIs in Node.js and Python</li>
        <li>Took initiative as an informal team lead by assisting in project management and aiding teammates alongside
          working independtly on feature implementation</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <h2>Projects</h2>
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>EyeSeeYou</mat-card-title>
      <mat-card-subtitle>August 2021 - October 2021</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Implemented logic for an art installation to draw graphics to a screen in response to faces detected by a
        webcam, mimicking the effect of the piece "watching" observers. This involved learning how to implement third
        party libraries using CMake and more comprehensive development after going through an introductory C++ course
        in school.
      </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>TicTacToe</mat-card-title>
      <mat-card-subtitle>February 2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        While taking AP Computer Science Applications, I extended an in-class tic-tac-toe assignment to implement a
        graphical user interface rather than the command line. This was the earliest example of taking the time to read
        through documentation to learn and implement a technology outside of a lecture.
      </p>
    </mat-card-content>
  </mat-card>
</app-navbar>
